<%= render 'books/list', book: @book %>

 <h1>Books</h1>
 <table>
   <thead>
     <tr>
       <th>image</th>
       <th>Title</th>
       <th>Opinion</th>
     </tr>
   </thead>
   
   <tbody>
     <tb>
       
     </tb>
   </tbody>
 </table>
