<% @books.each do |book| %>
<h2>Books</h2>
<div>
  <%= image_tag book.get_image %>
  <p>image <%= image_tag 'sample-author1.jpg' %></p>
  <p>Title <%= book.title %></p>
  <P>Opinion <%= book.body %></P>
</div>
<% end %>